page-home {
    .background
    {
        
        background-color: rgb(128, 128, 175);
    }

    .abc
    {
        text-align: center;
    }

    .efg
    {
        margin-top: 100px;
    }

    .hij
    {
        margin-top: 35px;
    }
    
}

