page-login {
    textarea {
        width: 187px;
        height: 25px;
  
      }
  
      .background {
        
        background-color: rgb(128, 128, 175);
    }
   .abcd
   {
    
    margin-left: -8px;
    margin-right: -8px;
   }
    

    h1 {
        color: blue;
        text-align: center;
        margin-top: 4.7rem;
        margin-bottom:99;
    }
    
    #date {
        text-align: center;
        color:black;
    }
   
    button.date {
        
        margin-left: 80px;
        margin-right: 8px;
        Width: 55px;
        height: 29px;
        color: blue;
    }
   
  
    .task {
        margin-left: 80px;
        margin-right: 8px;
       //text-align: center;
        color: blue;
        Width: -22px;
        height: 29px;
        margin-top: 17px;
        font-size: 21px;
    }
    .red a{
        color: red;
        text-decoration: none;
    }
    
    .blue a {
        color: blue;
        text-decoration: none;
    }
    
    .white a{
        color: green;
        text-decoration: none;
    }
}
