page-signature {
        signature-pad {
            canvas {
              border: dashed 1px #cccccc;
              height: 300px;
              width: 80%; 
              margin-left: 20px;
              position:fixed;
              margin-top:50px;  
                 }

                     }
          
          .ram{
           
              margin-top: 28px;
              height:300px ;
              width:92%;
              margin-left: 12px;
              
            }
          .ghi
         {
       
            margin-top:17;
            left:0;
            bottom: 2;
       
          }
         .sendbox
        {
         position: fixed;
         margin-bottom:15px;
         margin-top: 50px;
      
       }
    
    
}

